@font-face {
  font-family: 'Montserrat';  
  src:url('./assets/Fonts/Montserrat-VariableFont_wght.ttf');
}

  

html{
  scrollbar-color: #5b6172 transparent ;
  scrollbar-width: thin;
}

body {
  margin: 0;
  font-family:'Montserrat';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  letter-spacing: 1px;
  user-select: none;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
