.cont {
    background-color: #161a22;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 20rem;
    max-width: 500vw; /* Adjust the maximum width as needed */
    margin-left: 2%;
    margin-top: 2%;
}
  
.responsive-image {
    width: 100%;
    max-height: 200px; /* Limit the maximum height of the image */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.cont h3 {
    align-self: baseline;
    text-align: left;
    margin: 10px 0;
}
  
.cont section {
    margin-bottom: 10px;
}
  
.but {
  justify-content: flex-start ;
 
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  margin-bottom: 0.5rem;
  gap: 15%;
}
  