.bar{
    display: flex;
    flex-direction: row;
    flex: 1;
    border-color: #4b5162; /* A lighter shade of #282c34 */
    position: sticky;
    justify-content: flex-start;
    height: min-content;
    gap:30%;
}
  
span {
   align-self: center;
   margin: 0;
   padding: 0;
}
  
