@font-face {
  font-family: 'Montserrat';  
  src:url('../../assets/Fonts/Montserrat-VariableFont_wght.ttf');
}
.container{
  display: flex;
  flex-direction: column;
  gap: 5%;
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 50%;
  min-width: 30%;
  margin-top: 15%;
  position: absolute;
  right: 25%;
  left: 25%;
  color: white;
  align-items: center;
  justify-items: center;
}
.sup{
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin-top: 3%;
  align-items: center; /* Centers items vertically within the flex container */
  justify-content: center; /* Centers items horizontally within the flex container */
  width: 100%;
  text-align: center;
}
label{
  font-family: 'Montserrat';
}